.navbar {
    background-color: #170b30;
}

.nav-item a{
    color: white;
    font-size: 1.2rem;
}

.LogoEmpanadas {
    width: 200px;
}

.btn-car {
    margin-right: 1rem;
    font-size: 20px;
}

.btnCount {
    margin-right: 5px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}